<!DOCTYPE html>
<html>
<%-include('./helpersEJS/head.js', title) %>
  <!-- <link rel="stylesheet" href="./css/main.css"> -->

  <body>
    <main class="main_welcome">
      <div class="welcome_card">
        <h1>
          <%= title %>
        </h1>
        <p class="welcome">Welcome to <%= title %>
        </p>
        <p><a  href="http://localhost:3000/users" class="registr">REGISTRATION</a></p>
      </div>
    </main>
  </body>

</html>