<!DOCTYPE html>
<html lang="en">
<%-include('./helpersEJS/head.js', title)%>
<body>
    <main class="form">
        <div class="form_card">
            <h2 class="h2_register">REGISTER</h2>
            <form action="">
                <input type="email" placeholder="Write your email" name="email" required>
                <input type="password" placeholder="Write your password" name="password" required>
                <input type="password" placeholder="Repeat your password" name="repeat_password" required>
                <input type="text" placeholder="Write your gender" name="gender" required>
                <input type="date" placeholder="Write your Date" name="date" required>
                <button class="regist_btn">Register</button>
            </form>
        </div>
    </main>
</body>
</html>