<!DOCTYPE html>
<html lang="en">
<%-include('./helpersEJS/head.ejs', title)%>
<body>
    <header><a href="http://localhost:3001/">HOME</a></header>
    <main class="form">
        <div class="form_card">
            <h2 class="h2_register">REGISTRATION</h2>
            <form action="http://localhost:3001/auth/register" method="post">
                <input type="email" placeholder="Write your email" name="email" >
                <input type="password" placeholder="Write your password" name="password">
                <input type="password" placeholder="Repeat your password" name="repeat_password">
                <input type="text" placeholder="Write your gender" name="gender">
                <input type="date" placeholder="Write your Date" name="date">
                <button class="regist_btn">Register</button>
                <% if (typeof error !== 'undefined') { %>
                      <p class="error-message"><%= error%>!</p>
                <% } %>
            </form>
        </div>
    </main>
</body>
</html>