body {
    margin: 0;
    padding: 0;
}

.form {
    height: 94.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://images5.alphacoders.com/379/379348.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.form_card {
    width: 500px;
    border-radius: 10px;
    margin: auto;
    background-color: #ffffff38;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.249);
}

input {
    border: none;
    padding: 10px 0px 10px 6px;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    white-space: inherit;
    border-radius: 10px;
    background-color: rgba(245, 222, 179, 0.598);
}

input::placeholder {
    padding-left: 3px;
    color: rgba(0, 0, 0, 0.836);
    font-size: 14px;
}

.regist_btn {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #01073090;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.h2_register {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    color: white;
}
.regist_btn:hover {
    background-color: #0f60edda;
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.249);
}