body {
    background-color: rgba(1, 1, 87, 0.589);
}
* {
    color: white;
}
.users_table {
    /* background-image: url('https://images.unsplash.com/photo-1712397943847-e104395a1a8b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGJsdWUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
}

.name {
    color: black;
}

table {
    margin: 10px;
}